
.root
{
    /*-fx-base: dodgerblue; */
}

.datepicker-invalid
{
    -fx-border-color: red;
}

.datepicker-valid
{
    -fx-border-color: null;
}
#Cols .table-cell {
    -fx-text-alignment: right;
     /* The rest is from caspian.css */

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-inner-color;
}

/* The main calendar pane */
.calendar {

}
#Cols{
	text-align: left;
}

/* The calendar header, which contains the navigation elements. */
.calendar-header
{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,-70%), derive(-fx-base,-90%));
    -fx-padding: 0.5em;
   /* -fx-background-radius: 10;*/
}

/* The calendar footer, which contains the today button. It is only visible when the today button is shown */
.calendar-footer
{
    -fx-background-color: linear-gradient(to top, derive(-fx-base,-70%), derive(-fx-base,-90%));
    -fx-padding: 0.2em;
}

/* The 3 different panes, which show the month, the year, and the decades */
.calendar-month-view, .calendar-year-view, .calendar-decades-view
{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,80%), derive(-fx-base,40%));
    -fx-padding: 0;
}

/* The usual button which either display the day of the current month, or the month in the year view, or the year in the decades view */
.calendar-cell-current-month, .calendar-year-button, .calendar-month-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}
#weekButton{
	    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-font-weight: none;
    -fx-background-radius: 8;
}

/* The hover state of the buttons */
.calendar-cell-current-month:hover, .calendar-year-button:hover, .calendar-month-button:hover {
    -fx-background-color: -fx-cell-hover-color;
}

/* The day buttons for the previous and next month. */
.calendar-cell-other-month {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-opacity: 0.7;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-background-radius: 8;
}

/* The hover state of this button. */
.calendar-cell-other-month:hover {
    -fx-background-color: linear-gradient(to top, derive(-fx-base,-70%), derive(-fx-base,-90%));
}

/* The button which shows the current day. */
.calendar-cell-today {
	     -fx-background-color: -fx-accent;
	
}

/* The buttons in the header and the footer */
.calendar-navigation-button, .calendar-navigation-title, .calendar-today-button {
    -fx-background-color: null;
    -fx-cursor: hand;
    -fx-text-fill: white;
}
.calendar-navigation-button:hover{
		-fx-background-color:
	#a6b5c9,
	linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);
}
.calendar-navigation-button:pressed{
	-fx-background-color: black;
}


.calendar-navigation-title:hover{
	-fx-background-color:
	#a6b5c9,
	linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);
}
.calendar-navigation-title:pressed{
	-fx-background-color: black;
} 

.calendar-today-button:hover{
	-fx-background-color:
	#a6b5c9,
	linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);
} 

.calendar-today-button:pressed{
	-fx-background-color: rgb(0,0,0);
}
/* don't make the title button transparent, when it is disabled in the decades view */
.calendar-navigation-title:disabled {
    -fx-opacity: 1;
}

/* The arrow for navigation. SVG is used for it. */
.calendar-navigation-arrow {
    /*padding determines the size of the arrow; This should match the design size in the SVG */
    -fx-padding: 4 3.5 4 3.5;
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 2 3.5 2 3.5 */
    -fx-shape: "M 100 100 L 300 100 L 200 300 z";
    -fx-background-color: #ffffff;
}

/* The cell which contain the week day names */
.calendar-weekdays {
    -fx-background-color: -fx-body-color;
    -fx-padding: 3px;
}

.calendar-week-number {
    -fx-font-size: 0.8em;
    -fx-padding: 4px;
}


.B{

	-fx-background-color:
	#a6b5c9,
	linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);
	-fx-background-insets: 0 0 -1 0, 0,1;
	-fx-background-radius: 5,5,4;
	-fx-padding: 7 30 7 30;
	-fx-text-fill: #242d35;
	-fx-font-family: "Helvetica";
	-fx-font-size: 12px;
	-fx-text-fill: white;
}
.chart{
	-fx-padding: 10px;
	
}
.chart-content{
	-fx-padding: 30px;
}

#testButton{
	-fx-background-image:url('apr.png');
	-fx-background-repeat: no-repeat;

}
#textField{
	-fx-background-image:url('apr.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position:right;
}
#textField:hover{
	-fx-background-color:
	#a6b5c9,
	linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);
}
#textField:pressed{
		-fx-background-color: linear-gradient(#057cc0, #249ee4);
		-fx-padding-top: 22px;
}

#b:pressed {
	-fx-background-color:white;
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
    
}

#box_Choice{

	-fx-text-fill: #242d35;
	-fx-font-family: "Helvetica";
	-fx-font-size: 10px;
	-fx-text-fill: white;
}

#progressBar{
	-fx-progress-color: #88ED64;
}

#my-table .table-cell {
    -fx-alignment: CENTER-RIGHT;
     /* The rest is from caspian.css */

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-inner-color;
}

#legend .table-cell{
	    -fx-alignment: CENTER-LEFT;
     /* The rest is from caspian.css */

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-inner-color;
	
	
}
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
 
.chart-legend-item{
    -fx-text-fill: #191970;
}
.tab-pane *.tab-header-background {
    -fx-background-color: #a6b5c9;
}
.series-Prognose *.chart-series-area-fill{
    -fx-fill: #aab597; 
}

