#AnchorPane{
	-fx-background-color: #a6b5c9;
}


#hentData{
	-fx-background-color:
	#a6b5c9,
	linear-gradient(#303842 0%, #3e5577 20%, #375074 100%);

	-fx-background-insets: 0 0 -1 0, 0,1;
	-fx-background-radius: 5,5,4;
	-fx-padding: 7 30 7 30;
	-fx-text-fill: #242d35;
	-fx-font-family: "Helvetica";
	-fx-font-size: 12px;
	-fx-text-fill: white;
}

#hentData:pressed {
	
-fx-background-color: linear-gradient(#057cc0, #249ee4);
-fx-padding-top: 22px;

}
#errorMessage{
	-fx-font-family: "Helvetica";
	-fx-text-fill:rgb(73,122,171);
}
#errorPane{
	-fx-background-color:rgb(192,192,192);
}
#errorButton{
    -fx-background-color:
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;

}
#errorButton:pressed{
	-fx-background-color: linear-gradient(#057cc0, #249ee4);
	-fx-padding-top: 22px;
}
#errorIcon{
	-fx-background-image:url('error.png');
}
#message{
	-fx-font-family: "Helvetica";

}

.chart{
	-fx-background-color:white;
	-fx-padding: 10px;
}
#my-table .table-cell {
    -fx-alignment: CENTER-RIGHT;
     /* The rest is from caspian.css */

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-inner-color;
}
#legend{
  -fx-text-alignment: right;
}


.chart-title{
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.6em;
}
.separator{
    -fx-background-color:#a6b5c9;
    -fx-background-radius: 2;
}
.separator-line{
	-fx-background-color:rgb(115,97,186);
}


.topPane{
	-fx-background-color: #a6b5c9;

}
.progressBar{
	-fx-progress-color: #88ED64;
	
	}
	
.legend .table-cell{
	    -fx-alignment: CENTER-LEFT;
     /* The rest is from caspian.css */

    -fx-skin: "com.sun.javafx.scene.control.skin.TableCellSkin";
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-inner-color;
	
	
}


.chart-line-symbol {
-fx-stroke-dash-array: 10 10;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}
.series-Prognose *.chart-series-area-fill{
    -fx-fill: #aab597; 
}


.chart-series-line{
 -fx-stroke-width: 2px;  
} 

.default-color0.chart-series-line { 
-fx-stroke: #3278fa;
}

